.content__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    align-self: center;
  }

  .p {
    padding: 5px;
    align-self: center;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .tech__item {
      margin: 10px;
    }
  }
}
