.content__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  > * {
    max-width: 1000px;
  }

  h1 {
    align-self: center;
  }

  p {
    padding: 10px;
    align-self: center;
    line-height: 1.5;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;

    .tech__item {
      margin: 10px;
    }
  }
}